:root {
    --main-color: #38b000;
    --dark: #008000;
    --darker: #006400;
    --light: #70e000;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

#root {
    background-color:var(--darker);
    padding:10px;
    height:100vh;
}

#app {
    background-color:var(--main-color);
    border-radius:20px;
}

body {
    margin:0;
}